.App {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed {
  text-decoration: line-through 2px rgb(205, 36, 235);
  background-color: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: center;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
}

img {
  border-radius: 50%;
}

body {
  background-color: #EDE4FF;
}

.btn-add {
  background: #A076F9;
  margin-top: 5px;
}

.btn-delete {
  background: #E966A0;
  margin-bottom: 5px;
}

.btn {
  margin-left: 50px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  }

.header {
  display: flex;
  justify-content: center;
  text-align: center;
}